{% extends 'main.html' %} {% block content %}
<form action="#" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="nameHelp"
    />
    <div id="nameHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Topic</label>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled>Open this select menu</option>
      {% for topic in topics %}
        <option value="{{ topic.id }}">{{ topic.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <!-- <label for="exampleInputPassword1" class="form-label">Comments</label> -->
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
